<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.multi.datasource.mybatis.mapper.ExceptionL3Mapper">
  <resultMap id="BaseResultMap" type="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="exc_number" jdbcType="INTEGER" property="excNumber" />
    <result column="exc_type" jdbcType="INTEGER" property="excType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, message, total, exc_number, exc_type
  </sql>
  <select id="selectByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from exception_l3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exception_l3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exception_l3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3Example">
    delete from exception_l3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3">
    insert into exception_l3 (id, create_time, message, 
      total, exc_number, exc_type
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR}, 
      #{total,jdbcType=INTEGER}, #{excNumber,jdbcType=INTEGER}, #{excType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3">
    insert into exception_l3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="excNumber != null">
        exc_number,
      </if>
      <if test="excType != null">
        exc_type,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="excNumber != null">
        #{excNumber,jdbcType=INTEGER},
      </if>
      <if test="excType != null">
        #{excType,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3Example" resultType="java.lang.Long">
    select count(*) from exception_l3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exception_l3
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.message != null">
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.excNumber != null">
        exc_number = #{record.excNumber,jdbcType=INTEGER},
      </if>
      <if test="record.excType != null">
        exc_type = #{record.excType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exception_l3
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      message = #{record.message,jdbcType=VARCHAR},
      total = #{record.total,jdbcType=INTEGER},
      exc_number = #{record.excNumber,jdbcType=INTEGER},
      exc_type = #{record.excType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3">
    update exception_l3
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="excNumber != null">
        exc_number = #{excNumber,jdbcType=INTEGER},
      </if>
      <if test="excType != null">
        exc_type = #{excType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xkcoding.multi.datasource.mybatis.model.ExceptionL3">
    update exception_l3
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR},
      total = #{total,jdbcType=INTEGER},
      exc_number = #{excNumber,jdbcType=INTEGER},
      exc_type = #{excType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>