<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.multi.datasource.mybatis.mapper.FteOrderL2Mapper">
  <resultMap id="BaseResultMap" type="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="fte" jdbcType="INTEGER" property="fte" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="responded_tickets" jdbcType="INTEGER" property="respondedTickets" />
    <result column="mark" jdbcType="INTEGER" property="mark" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, group_name, fte, total, responded_tickets, mark, source_type
  </sql>
  <select id="selectByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fte_order_l2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fte_order_l2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fte_order_l2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2Example">
    delete from fte_order_l2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2">
    insert into fte_order_l2 (id, create_time, group_name, 
      fte, total, responded_tickets, 
      mark, source_type)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{groupName,jdbcType=VARCHAR}, 
      #{fte,jdbcType=INTEGER}, #{total,jdbcType=INTEGER}, #{respondedTickets,jdbcType=INTEGER}, 
      #{mark,jdbcType=INTEGER}, #{sourceType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2">
    insert into fte_order_l2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="fte != null">
        fte,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="respondedTickets != null">
        responded_tickets,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="fte != null">
        #{fte,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="respondedTickets != null">
        #{respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2Example" resultType="java.lang.Long">
    select count(*) from fte_order_l2
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fte_order_l2
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.fte != null">
        fte = #{record.fte,jdbcType=INTEGER},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.respondedTickets != null">
        responded_tickets = #{record.respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="record.mark != null">
        mark = #{record.mark,jdbcType=INTEGER},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fte_order_l2
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      fte = #{record.fte,jdbcType=INTEGER},
      total = #{record.total,jdbcType=INTEGER},
      responded_tickets = #{record.respondedTickets,jdbcType=INTEGER},
      mark = #{record.mark,jdbcType=INTEGER},
      source_type = #{record.sourceType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2">
    update fte_order_l2
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="fte != null">
        fte = #{fte,jdbcType=INTEGER},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="respondedTickets != null">
        responded_tickets = #{respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xkcoding.multi.datasource.mybatis.model.FteOrderL2">
    update fte_order_l2
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      group_name = #{groupName,jdbcType=VARCHAR},
      fte = #{fte,jdbcType=INTEGER},
      total = #{total,jdbcType=INTEGER},
      responded_tickets = #{respondedTickets,jdbcType=INTEGER},
      mark = #{mark,jdbcType=INTEGER},
      source_type = #{sourceType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteL2DataByToDay">
    DELETE FROM fte_order_l2 WHERE 1=1
  </delete>
</mapper>