<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.multi.datasource.mybatis.mapper.HumanResourcesL1Mapper">
  <resultMap id="BaseResultMap" type="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="entry_number" jdbcType="INTEGER" property="entryNumber" />
    <result column="quit_number" jdbcType="INTEGER" property="quitNumber" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="staff_number" jdbcType="INTEGER" property="staffNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, entry_number, quit_number, group_name, staff_number
  </sql>
  <select id="selectByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from human_resources_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from human_resources_l1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from human_resources_l1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1Example">
    delete from human_resources_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1">
    insert into human_resources_l1 (id, create_time, entry_number, 
      quit_number, group_name, staff_number
      )
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{entryNumber,jdbcType=INTEGER}, 
      #{quitNumber,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{staffNumber,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1">
    insert into human_resources_l1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="entryNumber != null">
        entry_number,
      </if>
      <if test="quitNumber != null">
        quit_number,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="staffNumber != null">
        staff_number,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryNumber != null">
        #{entryNumber,jdbcType=INTEGER},
      </if>
      <if test="quitNumber != null">
        #{quitNumber,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null">
        #{staffNumber,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1Example" resultType="java.lang.Long">
    select count(*) from human_resources_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update human_resources_l1
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.entryNumber != null">
        entry_number = #{record.entryNumber,jdbcType=INTEGER},
      </if>
      <if test="record.quitNumber != null">
        quit_number = #{record.quitNumber,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.staffNumber != null">
        staff_number = #{record.staffNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update human_resources_l1
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      entry_number = #{record.entryNumber,jdbcType=INTEGER},
      quit_number = #{record.quitNumber,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      staff_number = #{record.staffNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1">
    update human_resources_l1
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="entryNumber != null">
        entry_number = #{entryNumber,jdbcType=INTEGER},
      </if>
      <if test="quitNumber != null">
        quit_number = #{quitNumber,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="staffNumber != null">
        staff_number = #{staffNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xkcoding.multi.datasource.mybatis.model.HumanResourcesL1">
    update human_resources_l1
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      entry_number = #{entryNumber,jdbcType=INTEGER},
      quit_number = #{quitNumber,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      staff_number = #{staffNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>