<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.multi.datasource.mybatis.mapper.OrderUpL1Mapper">
  <resultMap id="BaseResultMap" type="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="order_number" jdbcType="INTEGER" property="orderNumber" />
    <result column="source_type" jdbcType="INTEGER" property="sourceType" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="FTE" jdbcType="INTEGER" property="fte" />
    <result column="AVG_Tickets" jdbcType="INTEGER" property="avgTickets" />
    <result column="Responded_Tickets" jdbcType="INTEGER" property="respondedTickets" />
    <result column="Escalation_Tickets" jdbcType="DECIMAL" property="escalationTickets" />
    <result column="mark" jdbcType="INTEGER" property="mark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, total, order_number, source_type, group_name, FTE, AVG_Tickets, 
    Responded_Tickets, Escalation_Tickets, mark
  </sql>
  <select id="selectByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_up_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_up_l1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_up_l1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1Example">
    delete from order_up_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1">
    insert into order_up_l1 (id, create_time, total, 
      order_number, source_type, group_name, 
      FTE, AVG_Tickets, Responded_Tickets, 
      Escalation_Tickets, mark)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{total,jdbcType=INTEGER}, 
      #{orderNumber,jdbcType=INTEGER}, #{sourceType,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, 
      #{fte,jdbcType=INTEGER}, #{avgTickets,jdbcType=INTEGER}, #{respondedTickets,jdbcType=INTEGER}, 
      #{escalationTickets,jdbcType=DECIMAL}, #{mark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1">
    insert into order_up_l1
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="total != null">
        total,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="fte != null">
        FTE,
      </if>
      <if test="avgTickets != null">
        AVG_Tickets,
      </if>
      <if test="respondedTickets != null">
        Responded_Tickets,
      </if>
      <if test="escalationTickets != null">
        Escalation_Tickets,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      /*2020 08 10 新增1线转出单量字段*/
      <if test="toNextNumber != null">
        to_next_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        #{total,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="fte != null">
        #{fte,jdbcType=INTEGER},
      </if>
      <if test="avgTickets != null">
        #{avgTickets,jdbcType=INTEGER},
      </if>
      <if test="respondedTickets != null">
        #{respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="escalationTickets != null">
        #{escalationTickets,jdbcType=DECIMAL},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=INTEGER},
      </if>
      <if test="endTime != null">
        #{endTime},
      </if>
      /*2020 08 10 新增1线转出单量字段*/
      <if test="toNextNumber != null">
        #{toNextNumber},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1Example" resultType="java.lang.Long">
    select count(*) from order_up_l1
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_up_l1
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.total != null">
        total = #{record.total,jdbcType=INTEGER},
      </if>
      <if test="record.orderNumber != null">
        order_number = #{record.orderNumber,jdbcType=INTEGER},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.fte != null">
        FTE = #{record.fte,jdbcType=INTEGER},
      </if>
      <if test="record.avgTickets != null">
        AVG_Tickets = #{record.avgTickets,jdbcType=INTEGER},
      </if>
      <if test="record.respondedTickets != null">
        Responded_Tickets = #{record.respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="record.escalationTickets != null">
        Escalation_Tickets = #{record.escalationTickets,jdbcType=DECIMAL},
      </if>
      <if test="record.mark != null">
        mark = #{record.mark,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_up_l1
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      total = #{record.total,jdbcType=INTEGER},
      order_number = #{record.orderNumber,jdbcType=INTEGER},
      source_type = #{record.sourceType,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      FTE = #{record.fte,jdbcType=INTEGER},
      AVG_Tickets = #{record.avgTickets,jdbcType=INTEGER},
      Responded_Tickets = #{record.respondedTickets,jdbcType=INTEGER},
      Escalation_Tickets = #{record.escalationTickets,jdbcType=DECIMAL},
      mark = #{record.mark,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1">
    update order_up_l1
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="total != null">
        total = #{total,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="fte != null">
        FTE = #{fte,jdbcType=INTEGER},
      </if>
      <if test="avgTickets != null">
        AVG_Tickets = #{avgTickets,jdbcType=INTEGER},
      </if>
      <if test="respondedTickets != null">
        Responded_Tickets = #{respondedTickets,jdbcType=INTEGER},
      </if>
      <if test="escalationTickets != null">
        Escalation_Tickets = #{escalationTickets,jdbcType=DECIMAL},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xkcoding.multi.datasource.mybatis.model.OrderUpL1">
    update order_up_l1
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      total = #{total,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=INTEGER},
      source_type = #{sourceType,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR},
      FTE = #{fte,jdbcType=INTEGER},
      AVG_Tickets = #{avgTickets,jdbcType=INTEGER},
      Responded_Tickets = #{respondedTickets,jdbcType=INTEGER},
      Escalation_Tickets = #{escalationTickets,jdbcType=DECIMAL},
      mark = #{mark,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteL1DataByToDay">
        DELETE FROM order_up_l1 WHERE DATE_FORMAT(create_time,'%y/%m/%d/%H')=DATE_FORMAT(SYSDATE(),'%y/%m/%d/%H')
  </delete>
</mapper>